@page
@model RazorTicket.Pages_Tickets.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Ticket.TicketId" />
            <div class="form-group">
                <label asp-for="Ticket.TicketDescription" class="control-label"></label>
                <input asp-for="Ticket.TicketDescription" class="form-control" />
                <span asp-validation-for="Ticket.TicketDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.DateOpened" class="control-label"></label>
                <input asp-for="Ticket.DateOpened" class="form-control" />
                <span asp-validation-for="Ticket.DateOpened" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.DateModified" class="control-label"></label>
                <input asp-for="Ticket.DateModified" class="form-control" />
                <span asp-validation-for="Ticket.DateModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.DateClosed" class="control-label"></label>
                <input asp-for="Ticket.DateClosed" class="form-control" />
                <span asp-validation-for="Ticket.DateClosed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.ReportingUserId" class="control-label"></label>
                <select asp-for="Ticket.ReportingUserId" class="form-control" asp-items="ViewBag.ReportingUserId"></select>
                <span asp-validation-for="Ticket.ReportingUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.AssignedUserId" class="control-label"></label>
                <select asp-for="Ticket.AssignedUserId" class="form-control" asp-items="ViewBag.AssignedUserId"></select>
                <span asp-validation-for="Ticket.AssignedUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.StatusId" class="control-label"></label>
                <select asp-for="Ticket.StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                <span asp-validation-for="Ticket.StatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.PriorityId" class="control-label"></label>
                <select asp-for="Ticket.PriorityId" class="form-control" asp-items="ViewBag.PriorityId"></select>
                <span asp-validation-for="Ticket.PriorityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.CategoryId" class="control-label"></label>
                <select asp-for="Ticket.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="Ticket.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.SubcategoryId" class="control-label"></label>
                <select asp-for="Ticket.SubcategoryId" class="form-control" asp-items="ViewBag.SubcategoryId"></select>
                <span asp-validation-for="Ticket.SubcategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
