@page
@model RazorTicket.Pages_Activities.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Activity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Activity.ActivityDescription" class="control-label"></label>
                <input asp-for="Activity.ActivityDescription" class="form-control" />
                <span asp-validation-for="Activity.ActivityDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activity.ActivityDate" class="control-label"></label>
                <input asp-for="Activity.ActivityDate" class="form-control" />
                <span asp-validation-for="Activity.ActivityDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activity.UserId" class="control-label"></label>
                <select asp-for="Activity.UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Activity.TicketId" class="control-label"></label>
                <select asp-for="Activity.TicketId" class ="form-control" asp-items="ViewBag.TicketId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
